<h2>Create New Assignment</h2>
<%= form_for( @assignment, url: teacher_create_assignment_path, remote: true) do |form| %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>
  <%= form.label :deadline, style: "display: block" %>
  <%= form.datetime_field :deadline, class: "datetime-picker" %>
  <div>

    <%= form.submit %>
  </div>
<% end %>
